include ../../modules/last-updates/last-updates.pug

mixin last-medicine
    section.section-last-medicine
        .container
            .section-title Медицина
            .section-subtitle Все медицинские учреждения Армении в одном месте
            .section-main
                .section-main__list
                    .section-main__item: +minicard()
                    .section-main__item: +minicard()
                    .section-main__item: +minicard()
 
