mixin last-medicine
    section.section-last-medicine
        .container
            .section-title Медицина
            .section-subtitle Все медицинские учреждения Армении в одном месте
            .section-smain
                .last-medicine last-medicine
 
