mixin last-consulting
    section.section-last-consulting
        .container
            .section-title Консалтинг
            .section-subtitle Юридическая и бухгалтерская консультация 
            .section-submain
                .last-consulting last-consulting
