extends ../layouts/index-dark

 

block variables
  include ../../data/data.pug
  - const title = "movetoarmenia"


block content

  include ../../blocks/modules/blog-details/blog-details.pug  

  +blog-details
  




block scripts
  script(src="../js/vendor.js")
  script(src="../js/common.js")