mixin last-building
    section.section-last-building
        .container
            .section-title Новостройки
            .section-subtitle Квартиры и дома в Армении
            .section-smain
                .last-building last-building
