.container
  .footer 
    .footer__social
      ul
        li: a(href='#' target="_blank" style="background-color: #3b5998"): +bgimage('/img/svg/ic_fb.svg')
        li: a(href='#' target="_blank" style="background-color: #f00"): +bgimage('/img/svg/ic_yt.svg')
        li: a(href='#' target="_blank" style="background-color: #e1306c"): +bgimage('/img/svg/ic_ig.svg')
        li: a(href='#' target="_blank" style="background-color: #249EDA"): +bgimage('/img/svg/ic_tg.svg')
        li: a(href='#' target="_blank" style="background-color: #0075F7"): +bgimage('/img/svg/ic_vk.svg')
    .footer__copyright
      span © 2022 Move2Armenia. Все права защищены