.section-last-updates {
    @include section-padding;
}

.section-last-vacancy {
    @include section-padding;
}

.section-last-building {
    @include section-padding;
}

.section-last-medicine {
    @include section-padding;
}

.section-last-education {
    @include section-padding;
}

.section-last-consulting {
    @include section-padding;
}

.section-last-work {
    @include section-padding;
}

.section-main {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__item {

        width: 100%;
        padding: 15px;

        @media screen and (min-width: $w760) {
            width: 50%;
            padding: 15px;
        }

        @media screen and (min-width: $w992) {
            width: 33.33%;
            padding: 15px;
        }
    }
}

.minicard {

    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 4px #00000012;


    &:hover {
        & .minicard {
            &__image {
                & a {
                    background-color: rgba($color: #000000, $alpha: 0.5);
                }
            }
        }
    }


    &__image {

        position: relative;

        &>a {
            @include layer(2);
            background-color: rgba($color: #000000, $alpha: 0.4);
            transition: 0.3s;
        }

        & picture {
            padding-top: 50%;
            position: relative;
            display: block;

            & img {
                @include layer(1);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__inimage {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;

        padding: 0 15px 5px 15px;

        & .minicard {

            &__subtitle,
            &__title {
                color: #fff;
                font-size: 13px;

                & a {
                    color: #fff;
                    position: relative;
                    background-color: transparent !important;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &__avatar {

        position: relative;

        & .bgimage {
            width: 60px;
            height: 60px;
            overflow: hidden;
            border-radius: 50%;
            z-index: 9;
            background-color: #eee;
            background-size: cover;
            background-position: 50%;
            display: block;
            margin-top: -25px;
        }
    }

    &__avatar {
        padding-bottom: 15px;
    }

    &__title {
        font-weight: 600;
        padding-bottom: 5px;
    }

    &__subtitle {
        color: #7e7e89;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 10px;
        width: 100%;
    }

    &__main {

        position: relative;
        height: 100px;
        background-color: #fff;
        z-index: 3;

        &:hover {


            & .minicard__info {
                transform: translateY(0);

            }

        }
    }

    &__info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        padding-left: 15px;
        padding-right: 15px;
        transition: 0.3s;

        transform: translateY(calc(100% - 100px));

    }

    &__text {
        text-align: center;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        padding: 0 15px;
    }

    &__bottom {
        padding: 15px 0;
        background-color: #fff;
        position: relative;
        z-index: 4;
        border-top: 1px solid #eee;
    }

    &__contact {
        padding-bottom: 10px;


        & ul {

            display: flex;
            flex-wrap: wrap;
            margin: -5px;

            & li {

                display: flex;
                align-items: center;
                padding: 5px;

                & small {
                    font-size: 13px;
                    margin-left: 10px;
                }

                & .bgimage {
                    width: 18px;
                    height: 18px;
                    @include bgimage-contain;
                }
            }
        }
    }

    &__tags {
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 5;

        & ul {
            display: flex;
            color: #fff;
            margin: -3px;

            & li {
                padding: 5px 10px;
                border: 1.5px solid hsla(0, 0%, 100%, .3);
                border-radius: 4px;
                margin: 3px;
                font-size: 13px;
            }
        }
    }

    &__doc {
        display: flex;
        padding: 0 20px;
        align-items: center;

        &-count {
            margin-left: 15px;

            & span {
                min-width: 30px;
                height: 30px;
                background-color: #eee;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                padding: 0 7px;
            }
        }

        &-name {
            margin-left: 10px;
        }

        &-icon {
            & .bgimage {
                width: 30px;
                height: 30px;
                overflow: hidden;
                border-radius: 50%;
                background-size: 18px auto;
                background-position: center;
                display: block;
                background-color: $orange;
                background-repeat: no-repeat;
            }
        }
    }



}

.block-icon {
    padding: 0 20px;

    & ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        margin: -3px;

        & li {
            flex-basis: 70px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 3px;

            & .bgimage {
                width: 20px;
                height: 20px;
                @include bgimage-contain;
                margin-bottom: 5px;

            }

            & small {
                font-size: 13px;
                display: block;
                text-align: center;
            }
        }
    }
}