mixin last-education
    section.section-last-education
        .container
            .section-title Образование
            .section-subtitle Детские сады, школы и университеты Армении
            .section-sumain
                .last-education last-education
