mixin blog-details
    section.section-blog-details
        .container
            .blog-details
                .blog-details__h1: H1 Топ 5 распространенных способов по поиску жилья в Армении 
                .blog-details__share(data-share="container")
                    .blog-share
                        .blog-share__overlay
                            .blog-share__content
                                ul
                                    li: a(href='#')
                                        +bgimage('/img/svg/ic_fb-bg.svg')
                                        small Facebook
                                    li: a(href='#')
                                        +bgimage('/img/svg/ic_tw-bg.svg')
                                        small Twitter
                                    li: a(href='#')
                                        +bgimage('/img/svg/ic_wa-bg.svg')
                                        small WhatsApp
                                    li: a(href='#')
                                        +bgimage('/img/svg/ic_tg-bg.svg')
                                        small Telegram
                                    li: a(href='#')
                                        +bgimage('/img/svg/ic_pinterest.svg')
                                        small Pinterest
                                    li: a(href='#')
                                        +bgimage('/img/svg/ic_linkedin.svg')
                                        small LinkedIn
                                    li: a(href='#')
                                        +bgimage('/img/svg/ic_tumblr.svg')
                                        small Tumblr
                                    li: a(href='#')
                                        +bgimage('/img/svg/ic_vk-bg.svg')
                                        small VKontakte
                                    li: a(href='#')
                                        +bgimage('/img/svg/ic_mail-bg.svg')
                                        small Mail
                                    li: a(href='#' data-share="copy")
                                        +bgimage('/img/svg/ic_copy.svg')
                                        small Copy link
                                   
                .blog-details__props
                    ul
                        li
                            +bgimage('/img/svg/ic_build.svg')
                            span  Жилье
                        li
                            +bgimage('/img/calendar-days-solid.svg')
                            span  Июл 07
                            
                        li(data-share="open")
                            +bgimage('/img/share-nodes-solid.svg')
                            span  Поделиться
                        li
                            +bgimage('/img/eye-regular.svg')
                            span  Просмотров : 5
                .blog-details__image
                    +picture('/img/common/banner8')
                .blog-details__text
                    .formated-text

                        

                        p Самый первый вопрос, с которым сталкиваются релоканты — вопрос квартирный. Привычных нам российских сервисов в Армении нет, и поэтому часто приходится осваивать новые способы с нуля. Мы подготовили для вас подборку, которая поможет сориентироваться на местном рынке недвижимости и найти себе уголок по душе.
                        p Самый первый вопрос, с которым сталкиваются релоканты — вопрос квартирный. Привычных нам российских сервисов в Армении нет, и поэтому часто приходится осваивать новые способы с нуля. Мы подготовили для вас подборку, которая поможет сориентироваться на местном рынке недвижимости и найти себе уголок по душе.
                     
                        h2 1. Сайты объявлений.


                        p Самый первый вопрос, с которым сталкиваются релоканты — вопрос квартирный. Привычных нам российских сервисов в Армении нет, и поэтому часто приходится осваивать новые способы с нуля. Мы подготовили для вас подборку, которая поможет сориентироваться на местном рынке недвижимости и найти себе уголок по душе.

                        ul
                            li 
                                strong  List.am 
                                | Сайт является простым аналогом российского «АВИТО». Соответственно, найти на нем можно все, начиная от комнатных растений и заканчивая жильем и автомобилями. Именно к «ЛИСТ.АМ» в первую очередь обращаются все, кто находится в поиске дома или квартиры. На сайте есть удобные фильтры, позволяющие настроить желаемый район, количество комнат, тип здания, площадь и рамки бюджета. На все устройства возможна установка одноименного приложения.
                            li 
                                strong  List.am 
                                | Сайт является простым аналогом российского «АВИТО». Соответственно, найти на нем можно все, начиная от комнатных растений и заканчивая жильем и автомобилями. Именно к «ЛИСТ.АМ» в первую очередь обращаются все, кто находится в поиске дома или квартиры. На сайте есть удобные фильтры, позволяющие настроить желаемый район, количество комнат, тип здания, площадь и рамки бюджета. На все устройства возможна установка одноименного приложения.
                            li 
                                strong  List.am 
                                | Сайт является простым аналогом российского «АВИТО». Соответственно, найти на нем можно все, начиная от комнатных растений и заканчивая жильем и автомобилями. Именно к «ЛИСТ.АМ» в первую очередь обращаются все, кто находится в поиске дома или квартиры. На сайте есть удобные фильтры, позволяющие настроить желаемый район, количество комнат, тип здания, площадь и рамки бюджета. На все устройства возможна установка одноименного приложения.
                            li 
                                strong  List.am 
                                | Сайт является простым аналогом российского «АВИТО». Соответственно, найти на нем можно все, начиная от комнатных растений и заканчивая жильем и автомобилями. Именно к «ЛИСТ.АМ» в первую очередь обращаются все, кто находится в поиске дома или квартиры. На сайте есть удобные фильтры, позволяющие настроить желаемый район, количество комнат, тип здания, площадь и рамки бюджета. На все устройства возможна установка одноименного приложения.
                            li 
                                strong  List.am 
                                | Сайт является простым аналогом российского «АВИТО». Соответственно, найти на нем можно все, начиная от комнатных растений и заканчивая жильем и автомобилями. Именно к «ЛИСТ.АМ» в первую очередь обращаются все, кто находится в поиске дома или квартиры. На сайте есть удобные фильтры, позволяющие настроить желаемый район, количество комнат, тип здания, площадь и рамки бюджета. На все устройства возможна установка одноименного приложения.

                        h2 2. Сайты агентств недвижимости.

                        img(src="/img/common/blog.jpg")

                        ul 
                            li 
                                 strong  Estate.am 
                                 | Данный сайт называют местным аналогом российского «ЦИАН». В проекте представлена очень подробная информация о каждом объекте, включая профессиональные фотографии и полное описание окружающей инфраструктуры. Объявлений очень много, и если вам не хочется их просматривать, есть возможность позвонить и описать оператору свои пожелания. Исходя из ваших запросов вам подберут подходящие варианты.
                            li 
                                 strong  Estate.am 
                                 | Данный сайт называют местным аналогом российского «ЦИАН». В проекте представлена очень подробная информация о каждом объекте, включая профессиональные фотографии и полное описание окружающей инфраструктуры. Объявлений очень много, и если вам не хочется их просматривать, есть возможность позвонить и описать оператору свои пожелания. Исходя из ваших запросов вам подберут подходящие варианты.

                        h2 3. Телеграм-каналы.

                        p            
                            strong ПЛЮСЫ: 
                            | всегда под рукой, можно быстро отреагировать на свежее объявление, быстрая связь с арендодателем.
                        p
                            strong МИНУСЫ:
                            | отсутствие фильтров поиска, не исключены случаи мошенничества и плата за услуги риелтора.

                        img(src="/img/common/blog.jpg")

                        p В Telegram сейчас жизнь кипит, как никогда раньше. Было создано несколько ресурсов, куда регулярно выгружаются свежие объявления от собственников и агентов. Плюс ко всему, нередко и сами релоканты публикуют там арендованные ранее квартиры, желая вернуться на родину и не потерять депозит. 

                        p
                            a(href='#') https://t.me/rentarmenia <br>
                            a(href='#') https://t.me/standardrealty  <br>
                            a(href='#') https://t.me/relocationArmenia <br>

                        h2 Дружба с риелтором

                        p Когда вы начнете обзванивать объявления, то, скорее всего, наткнетесь на посредника. В первом пункте мы упоминали, что местные риелторы не прочь воспользоваться удочкой, чтобы поймать клиента на крючок и предложить другой вариант. Некоторым это не нравится, но, как показывает опыт, ситуация может об
                        p В двух словах опишите работнику, какие у вас основные критерии желаемого жилья и… ждите звонка. Иногда квартиры освобождаются быстро и агенты просто не тратят время на размещение объявлений. Они по своей базе проверяют, кому подходит жилье, и звонят непосредственно желающим. В этом случае есть возможность посмотреть и арендовать жилье в тот же день.
                        p У каждого из способов поиска жилья есть свои достоинства и недостатки. Рекомендуем вам опробовать все, чтобы составить полную картину рынка недвижимости в Армении и найти дом своей мечты. Пусть все сложится!
                        
                .blog-details__back
                    a(href='#'): button.btn Вернуться назад