mixin last-vacancy
    section.section-last-vacancy
        .container
            .section-title Вакансии
            .section-subtitle Поиск работы еще не был так прост
            .section-main
                .last-vacancy last-vacancy
