mixin last-work
    section.section-last-work
        .container
            .section-title Рабочие места
            .section-subtitle Коворкинг и другие места для работы
            .sectimain
                .last-work last-work