mixin first-block
    section.section-first-block
       
            .first-block
                .first-block__wrp
                    .first-block__bg
                        +pictore-no-lazy('/img/common/bg-fb')
                    .first-block__content
                        .container
                            .first-block__title: h1 Найди лучшее для жизни в Армении
                            .first-block__subtitle Работа, жилье, образование и многое другое
                            .first-block__filter
                                +fb-filter

                                
mixin first-block-contact
    section.section-first-block
       
            .first-block
                .first-block__wrp
                    .first-block__bg
                        +pictore-no-lazy('/img/common/bg-fb')
                    .first-block__content
                        .container
                            .first-block__title: h1 Найди лучшее для жизни в Армении
                            .first-block__subtitle Работа, жилье, образование и многое другое
                             

mixin fb-filter

    .fb-filter
        .fb-filter__wrp
            form(action='#' method='POST')
                .fb-filter__list
                    .fb-filter__item
                        .fb-filter__label Ежемесячный бюджет
                        .fb-filter__select: +select(false, ['Не выбрано', '100 000'])
                    .fb-filter__item
                        .fb-filter__label Сколько человек планирует переезд?
                        .fb-filter__select
                            .filter-counter
                                .filter-counter__total 0
                                .filter-counter__dropdown
                                    .filter-counter__item
                                        .filter-counter__item-title
                                            strong Взрослые
                                            span Старше 12
                                        .filter-counter__item-input
                                            .filter-counter__number
                                                .filter-counter__number-dec -
                                                .filter-counter__number-input: input(type="text" disabled value="0")
                                                .filter-counter__number-inc +
                                    .filter-counter__item
                                        .filter-counter__item-title
                                            strong Дети
                                            span От 2 до 12 лет
                                        .filter-counter__item-input
                                            .filter-counter__number
                                                .filter-counter__number-dec -
                                                .filter-counter__number-input: input(type="text" disabled value="0")
                                                .filter-counter__number-inc +
                                         
                                    .filter-counter__item
                    .fb-filter__item
                        .fb-filter__label Планируете искать работу?
                        .fb-filter__select: +select(false, ['Не выбрано', 'Да', 'Нет'])
                    .fb-filter__item
                        .fb-filter__btn: button.btn Подобрать
                                    