- 
  const app = {

    mainMenu: [
      { 'text': 'Главная',  'href': '/'},

      { 'text': 'Каталог',  
        'href': '#process',
        'sub' : [
          {'text': 'Вакансии',   'href': '#product'},
          {'text': 'Новостройки',   'href': '#product'},
          {'text': 'Консалтинг',   'href': '#product'},
          {'text': 'Детские сады',   'href': '#product'},
          {'text': 'Коворкинги',   'href': '#product'},
          {'text': 'Медицина',   'href': '#product'},
          {'text': 'Финансы',   'href': '#product'},
          {'text': 'Языковые курсы',   'href': '#product'},
          {'text': 'Спорт',   'href': '#product'},
          {'text': 'Путешествия',   'href': '#product'},    
        ]
      },

      { 'text': 'Блог',  'href': 'blog.html'},
      { 'text': 'Мероприятия',  'href': 'event.html'},
      { 'text': 'Контакты',  'href': 'contacts.html'},

       
      
    ],
     
    
  }





















