.splide__arrows.splide__arrows--ltr {
    position: absolute;
    z-index: 50;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 0;
    opacity: 0;
    transition: 0.3s ease;
}

.minicard__image:hover .splide__arrows.splide__arrows--ltr {
    padding: 0 30px;
    opacity: 1;
}

.splide__arrow {
    width: 30px;
    height: 30px;
    background-color: #f98b27;
    border: none;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.splide__arrow svg {
    fill: #fff;
    width: 14px;
    height: 14px;
}

.splide__arrow--prev {
    transform: rotate(180deg)
}

.splide__arrow[disabled] {
    opacity: 0.8;
}

.minicard__subtitle * {
    display: inline !important;
}


.block-icon ul li {
    max-width: 100%;
}

.block-icon ul li small {
    text-overflow: ellipsis;
}